# ci-values.yaml
extraInitContainers:
  - name: mock-imds
    image: alpine/socat
    command: ["socat"]
    args:
      - TCP-LISTEN:80,fork
      - EXEC:'/bin/echo HTTP/1.1 200 OK\\r\\nContent-Length: 2\\r\\n\\r\\n{}'
    securityContext:
      privileged: true
    hostNetwork: true
    dnsPolicy: ClusterFirstWithHostNet